{% extends "article/base.html" %}{% load bbcode %}{% load cache %}{% block title %}Projects | DicaxDorcas{% endblock %}{% block head %}
  <style type='text/css'>.paginationLeft{float:left;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;border-right:1px solid #d7d7d7;background:#f8f8f8;color:#888;padding:10px}.paginationRight{float:right;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;border-left:1px solid #d7d7d7;background:#f8f8f8;color:#888;padding:10px}</style>{% endblock head %}{% block body %}
{% cache 1800 latest_projects %}
{% for project in projects %}
  <div class="shell content article"> 
    <h3>
      <a href="/projects/{{ project.id }}/">{{project.title}}</a>
    </h3>
    <p>{% bbcode project.getStub %}<a href="/{{ project.id }}/">...</a></p>
    <div class="insideInfo"> 
      <p class="alignleft"><p>Language: {{project.language}}</br>GitHub: <a href="{{project.url}}">{{project.url}}</a></p>
    </div>
  </div>{% endfor %}{% endcache %}
{% endblock %}
