{% extends "article/base.html" %}{% load bbcode %}{% load cache %}{% block title %}Projects | DicaxDorcas{% endblock %}{% block head %}
  <link href="http://dl.dropbox.com/u/93458715/index.css" rel="stylesheet" type="text/css" />{% endblock head %}{% block body %}
{% cache 1800 latest_projects %}
{% for project in projects %}
  <div class="shell content article"> 
    <h3>
      <a href="/projects/{{ project.id }}/">{{project.title}}</a>
    </h3>
    <p>{% bbcode project.getStub %}<a href="/{{ project.id }}/">...</a></p>
    <div class="insideInfo"> 
      <p class="alignleft"><p>Language: {{project.language}}</br>GitHub: <a href="{{project.url}}">{{project.url}}</a></p>
    </div>
  </div>{% endfor %}{% endcache %}
{% endblock %}
