body {
  background-image:url('http://dl.dropbox.com/u/93458715/tiny_grid.png');
  font:0.8em Georgia;
  line-height:140%
  color:#424242;
  margin: 0 0 15px 0;
}
.shell {
  border-style:solid;
  border-color:#d7d7d7;
  border-width:1px;
  background:#f8f8f8;
}
.content {
  width:630px;
  padding:10px;
  margin: 0 auto;
}
.insideInfo {
  border-top:1px solid #eee;
  padding:5px 10px;
  font-size:0.8em;
  color:#888;
}
#header {
  background:#f8f8f8;
  border-bottom:1px solid #eee;
  padding: 30px 0;
  margin:0 0 20px 0;
}
#headerContent {
  width:632px;
  margin:0 auto;
}
a {
  text-decoration:none;
  color:#5e6469;
}
a:hover {
  color:#424242;
}
.alignleft {
  float:left;
}
.alignright {
  float:right;
}
#footer {
  width:25%;
  margin:0 auto;
  color:#424242;
}
#navbar {
  position:relative;
  left:200px;
  bottom:43px;
  }
.navpill {
  padding:8px 10px;
  background:#F6F6F6;
  border-top:5px solid #eee;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
}
.navpill:hover {
  background:#F1F1F1;
  border-top:5px solid #ddd;
}

