.inner {
  padding:23px;
}
.dfix {
  padding:20px;
}
.interact {
  margin:30px auto;
  width:630px;
}
.social {
  float:right; 
  width:280px;
  height:25px;
  padding:5px;
}
.commentcount {
  float:left;
  width:320px;
  height:25px;
  padding:5px;
  color:#888;
}
