{% extends 'article/base.html' %}{% block title %}Blog Tag Search | DicaxDorcas{% endblock %}
{% load bbcode %}
{% block body %}
<div class="shell content article"> 
  <h3><a href="/tag/{{tag.name|slugify}}/">Blog Tag Search</a></h3>
  <p>You searched the blog entries for the tag <em>{{tag}}</em>.</p>
{% if articles %}{% for article in articles %}
  <div class="row-{% cycle odd,even %}">
    <p>
      <a href="/{{article.id}}/">{{article.title}}</a>
      ({{article.pub_date|timesince}} ago)
    </p>
</div></p>
{% endfor %}
{% else %}
<p>No articles have that tag</p>
{% endif %}
{% endblock %}
</div>
