{% load bbcode %}<HTML>
<HEAD>
  <title>{% block title %}DicaxDorcas{% endblock title %}</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap.min.css">
  <link href="http://dl.dropbox.com/u/93458715/base.css" rel="stylesheet" type="text/css" />
{% block head %}{% endblock head %}</HEAD>
<BODY>

<!-- Fork Me Banner -->
<a href="https://github.com/dicaxdorcas">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
</a>
<!-------------------->

{% block header %}<div id='header'>
  <div id='headerContent'>
    <h1><a href='/'>DicaxDorcas</a></h1>
    <p>Freelance Developer and Nocturnal Being.</p>
    <div id='navbar'>
      
    </div>
  </div>
</div>{% endblock header %}
<div id='body'>
{% block body %}{% endblock body %}
</div>
<div id='footer'>
  <p>
     {% block footer %}All rights reserved. <a href="https://github.com/DicaxDorcas/DjangoBlog">Source available here.{% endblock footer %}
    </a>
  </p>
</div> 
  
</BODY>
</HTML>
