{% extends "article/base.html" %}{% load bbcode %}{% load comments %}{% block title %}{{article.title}} | DicaxDorcas {% endblock title %}{% block head %}
  <link href="http://dl.dropbox.com/u/93458715/detail.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-bc9797a7-347e-633-8cf5-dd9137ed014"});</script>{% endblock head %}
{% block body %}
<div class="shell content dfix">
  <h3><a href="/{{ article.id }}/">{{article.title}}</a></h3>
  <p>{% bbcode article.content %}</p>
  <div class="insideInfo">
    <p>{% for tag in article.get_tags %}
      <a href="/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a>,&nbsp;{% endfor %}</p>
    <p>Published: {{article.pub_date}}</p>
  </div>
</div>

<div class="interact inner">
  <a href="javascript:hideshow(document.getElementById('reply'))">
    <div class="shell commentcount">
      <p>Leave a comment...</p>
    </div>
  </a>
  <div class="shell social">
    <span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <span class='st_email_hcount' displayText='Email'></span>
  </div>
</div>

<script type="text/javascript">
  function hideshow(which){
    if (!document.getElementById)
      return
    if (which.style.display=="none")
      which.style.display="block"
    else
      which.style.display="none"
  }
</script>

<div id="reply">
  {% render_comment_form for article %}
</div>
{% render_comment_list for article %}
{% endblock body %}
